*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html{
    scroll-behavior: smooth;
}

.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-sections{
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: #0e3353;
    font-size: 20px;
    transition: border-bottom 0.3s ease-in-out;
}

a{
    text-decoration: none;
    color: #0e3353;
}

.navbar-sections li a:hover {
    border-bottom: 2px solid #0e3353; /* Adjust the color and thickness as needed */
}

.main-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-part-child{
    height: 700px;
    width: 1000px;
}

.main-part-child-first{
    background-image: url(assets/ceraveIntro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.first-h1{
    font-size: 30px;
    line-height: 1.85187rem;
    letter-spacing: .5rem;
    color: white;
}

.second-h1{
    font-size: 50px;
    line-height: 1.85187rem;
    letter-spacing: .5rem;
    color: white;
}

.skincare-btn{
    width: 165px;
    height: 48px;
    background-color: #0e3353;
    color: white;
    font-weight: bold;
    border: 1px solid  #0e3353;
    font-size: 16px;
}

.skincare-btn:hover{
    background-color: #092640;
    cursor: pointer;
}

.main-part-child-first-first{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-part-child-second{
    height: 200px;
    background-color: #0e3353;
}

.main-part-child-second{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skincare-h2{
    width: 485px;
    height: 53px;
    font-size: 18px;
    line-height: 1.63125rem;
    white-space: inherit;
    color: white;
}

.skincare-p{
    width: 485px;
    height: 53px;
    font-size: 12px;
    line-height: 1.0875rem;
    color: white;
}

.lastDiv{
    background-color: #0e3353;
    /* width: 2000px; */
    display: flex;
    padding-bottom: 84px;
    
}

.leftDiv{
    padding-top: 150px;
    color: white;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home1{
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none;
    
}

.media1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    
}

.lastContent{
    min-width: 301px;
    justify-content: space-between;
    display: flex
}

.leftLinks > *:not(:last-child) {
    /* styles for all children except the last one */
    margin-bottom: 6px;
  }

.footerLinks{
    
    list-style: none;
    
}

.rightDiv{
    margin-left: 300px;
    padding-top: 100px;
    
}

.footer1{
    display: flex;

}

.lastImages{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}


.first-part-questioning,
.second-part-questioning,
.third-part-questioning,
.lastPart {
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 50px;
    height: 100vh; 
    margin: 0 auto; 
    color: #0e3353;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1280px;
   
}

.option {
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    width: 275px; 
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #0e3353;
    margin: 0 auto; 
}

.selected {
    background-color: #0e3353;
    color: white;
}

.first-part-questioning-btn{
    width: 165px;
    height: 48px;
    background-color: #0772BA;
    font-size: 16px;
    padding: 15px 22px;
    border: 1px solid #0772BA;
    color: white;
    transition: all 0.3s ease-in-out;
}

.first-part-questioning-btn:hover{
    cursor: pointer;
    background-color: #0e3353;
}

.options1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1280px;
}

.options2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1280px;
}

.first-part-questioning-btn-white{
    width: 165px;
    height: 48px;
    background-color: white;
    font-size: 16px;
    padding: 15px 22px;
    border: 1px solid #0e3353;
    color: #0e3353;
    transition: all 0.3s ease-in-out;
}

.first-part-questioning-btn-white:hover{
    cursor: pointer;
    color: #092640;
    border: 1px solid #092640;
}

.back-next-buttons{
    display: flex;
    gap: 50px;
}

.lastPart{
    display: none;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.final-step{
    color: #0e3353;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 8px;
}

.final-step-signup{
    color: #0e3353;
    font-size: 20px;
    width: 560px;
    height: 80px;
}

.final-step-input{
    width: 380px;
    height: 40px;
    padding: 0px 15px 0px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    outline: none;
}

.final-step-input:hover,
.final-step-input:focus{
    cursor: pointer;
}

.final-step-finish{
    width: 165px;
    height: 48px;
    background-color: #0e3353;
    font-size: 16px;
    padding: 15px 22px;
    border: 1px solid #0e3353;
    color: white;
    transition: all 0.3s ease-in-out;
}

.final-step-finish:hover{
    cursor: pointer;
    background-color: #092640;
    border: 1px solid #092640;
    color: white;
}

.final-step-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.whyCeraVe-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.whyCeraVe-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-message{
    
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.popup-respect{
    
    color: #0e3353;
    font-style: italic;
}

.popup-btn{
    margin-top: 30px;
    height: 40px;
    background-color: #0e3353;
    color: white;
    border: none;
}

.popup-btn:hover{
    cursor: pointer;
}

.final-step-p{
    color: #0e3353;
    display: flex;
    font-size: 12px;
}

.final-step-inputs-child{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#name-p{
    display: none;
}

#lastname-p{
    display: none;
}

#email-p{
    display: none;
}

#circle1{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0772BA;
}

#circle2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #AAADAE;
}

#circle3{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #AAADAE;
}

#line1{
    height: 2px;
    width: 10px;
    background-color: #AAADAE;
}

#line2{
    height: 2px;
    width: 10px;
    background-color: #AAADAE;
}

.navigation{
    margin-top: 50px;
    display: none;
    align-items: center;
    justify-content: center;
}
